# Relatório de Atividade Final
Alexander Junior da Costa Afonso

# Credit Default

Tarefa 1: Ler o arquivo com o pandas

In [496]:
import pandas as pd

# realiza a leitura dos dados
dataset = pd.read_csv('../data/lv-credit-card-default-1000.csv',sep=',')
# carrega os dados em um dataframe
data = pd.DataFrame(dataset)
# exibe os dados para verificação
data.tail()

,CUSTID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULTED
997,103,480000.0,M,1.0,1.0,63.0,0.0,0.0,0.0,2.0,...,898.0,325.0,-339603.0,898.0,325.0,898.0,325.0,0.0,345293.0,1
998,388,80000.0,M,3.0,1.0,73.0,-1.0,0.0,0.0,2.0,...,-57.0,127.0,-189.0,0.0,1000.0,0.0,500.0,0.0,1000.0,1
999,247,250000.0,F,2.0,1.0,75.0,0.0,-1.0,-1.0,-1.0,...,-3684.0,0.0,1386.0,10118.0,47015.0,0.0,4000.0,100000.0,10000.0,1
1000,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1001,aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

# Etapa 2: Transformando e selecionando os dados

Após a leitura dos dados é importante identificar quais os campos ordinais que devem ser traduzidos para valores numéricos para que sejam mais facilmente manipulados pelos algoritmos

In [497]:
import numpy as np

# aplica um filtro para alterar dados não padronizados no caso o sexo
maskF = data['SEX'] == "F"
data.iloc[data[maskF].index, 2] = 2
maskF = data['SEX'] == "M"
data.iloc[data[maskF].index, 2] = 1
# deleta todos os registros que possuam algum valor NaN e altera o próprio dataframe
data.dropna(inplace = True)

data.tail()

,CUSTID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULTED
995,932,320000.0,1,1.0,1.0,60.0,-1.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
996,367,50000.0,2,2.0,1.0,61.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
997,103,480000.0,1,1.0,1.0,63.0,0.0,0.0,0.0,2.0,...,898.0,325.0,-339603.0,898.0,325.0,898.0,325.0,0.0,345293.0,1
998,388,80000.0,1,3.0,1.0,73.0,-1.0,0.0,0.0,2.0,...,-57.0,127.0,-189.0,0.0,1000.0,0.0,500.0,0.0,1000.0,1
999,247,250000.0,2,2.0,1.0,75.0,0.0,-1.0,-1.0,-1.0,...,-3684.0,0.0,1386.0,10118.0,47015.0,0.0,4000.0,100000.0,10000.0,1

Transformação dos dados: Realizando a normalização dos dados

In [498]:
from sklearn import preprocessing

labelColumn = 'DEFAULTED'
# separa os dados dos rótulos
columns = data.columns.difference([labelColumn])
features = data[columns]
targets = data[labelColumn]
# normaliza os dados
nFeatures = preprocessing.normalize(features)
dataNorm = pd.DataFrame(nFeatures)
# remonta a columa de rótulo nos dados normalizados
# dataNorm.head()

# Etapa 3: Reduzindo a dimensionalidade do problema

Agora é o momento de estabelecer seus critérios de seleção dos campos. Você pode selecionar por métodos de filtragem (Valores faltantes, baixa variância, alta correlação), força bruta (BFE ou FFC) ou executar o PCA. O importante é encontrar um conunto de campos menor que o inicial para reduzir a complexidade computacional.

In [499]:
#from sklearn.feature_selection import VarianceThreshold
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
%matplotlib inline

# # exemplo de seleção por variância do campo
selector = VarianceThreshold(0.0)
dataF = selector.fit_transform(dataNorm)
# remonta o DataFrame
dataFiltered = pd.DataFrame(dataF)
dataFiltered.head()

# Create correlation matrix
# corr_matrix = dataNorm.corr().abs()
# corr_matrix

# utilizando PCA com duas dimensões
# pca = PCA(n_components=2)
# pca.fit(dataNorm)
# dataNorm = pca.transform(dataNorm)

# #mostra quanto da informação final pode ser explicada pelas duas componentes escolhidas
# pca.explained_variance_

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.000129,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.003247,0.000012,0.122526,...,0.000012,-0.000012,-0.000012,0.000000,0.000000,0.000000,0.0,0.992460,0.000000,0.000012
1,0.000367,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000633,0.000033,0.999655,...,0.000000,-0.000033,-0.000033,0.000000,0.000000,0.000000,0.0,0.000000,0.026258,0.000033
2,0.002176,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.004252,0.000198,0.988925,...,0.000000,-0.000198,-0.000198,0.000000,0.000000,0.000000,0.0,0.000000,0.148339,0.000099
3,0.000167,0.008579,0.002207,0.004415,0.002207,0.0,0.002207,0.000357,0.000008,0.151714,...,-0.000008,0.000000,-0.000008,0.002207,0.004415,0.000000,0.0,0.988345,0.004938,0.000015
4,0.000141,0.010845,0.084927,0.002775,0.011736,0.0,0.018530,0.000449,0.000026,0.128191,...,0.000000,-0.000006,-0.000006,0.084927,0.002775,0.011736,0.0,0.018530,0.983894,0.000006

Seleciona as colunas que devem ser eliminadas por um limiar

In [500]:
# Seleciona somente o triangulo superior da matriz
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
#upper
# Encontra as colunas com variancia menor que 0.85
to_drop = [column for column in upper.columns if any(upper[column] > 0.85)]
#to_drop
dataFiltered = dataNorm.drop(dataNorm.columns[to_drop], axis=1)
dataFiltered['DEFAULTED'] = targets;
dataFiltered.head()

,0,1,2,3,4,5,6,7,9,11,...,13,14,15,17,18,19,20,21,22,DEFAULTED
0,0.000129,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.003247,0.122526,-0.000006,...,0.000012,0.000012,-0.000012,0.000000,0.000000,0.000000,0.0,0.992460,0.000000,0
1,0.000367,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000633,0.999655,0.000000,...,0.000000,0.000000,-0.000033,0.000000,0.000000,0.000000,0.0,0.000000,0.026258,0
2,0.002176,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.004252,0.988925,0.000000,...,0.000000,0.000000,-0.000198,0.000000,0.000000,0.000000,0.0,0.000000,0.148339,0
3,0.000167,0.008579,0.002207,0.004415,0.002207,0.0,0.002207,0.000357,0.151714,0.000000,...,0.000015,-0.000008,0.000000,0.002207,0.004415,0.000000,0.0,0.988345,0.004938,0
4,0.000141,0.010845,0.084927,0.002775,0.011736,0.0,0.018530,0.000449,0.128191,0.000013,...,0.000000,0.000000,-0.000006,0.084927,0.002775,0.011736,0.0,0.018530,0.983894,0

# Etapa 4: Criar e treinar o modelo de classificação

Esse é o momento de escolher qual o algoritmo você quer usar. Usar mais de um (ou um método ensemble) ajuda a ter a noção de qual a melhor estratégia para o problema.

Esse também é o momento de criar as suas bases de treinamento, validação e teste. Realizar a validação cruzada também ajuda bastante e é muito recomendado que o faça

In [501]:
from sklearn import model_selection

from sklearn.model_selection import train_test_split

dataTrain, dataTest = train_test_split(dataFiltered, test_size=0.2)
# cria um modelo de validação cruzada
seed = 7
kfold = model_selection.KFold(n_splits=10, random_state=seed)

In [502]:
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score
metricsValues = []
metricsLabels = []
temp = []
metrics = []

# Tentativa 1 - Utilizando Ensemble

Cria os estimadores do nosso ensemble

In [503]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import VotingClassifier
import time

#iniciando tempo
start = time.clock()

# separando os dados denovo
nColumns = dataTrain.shape[1] - 1
trainValues = dataTrain.values
trainFeatures = trainValues[:,0:nColumns-1]
trainTargets = trainValues[:,nColumns]
# cria os preditores
estimators = []
model1 = LogisticRegression()
estimators.append(('logistic', model1))

model2 = DecisionTreeClassifier()
estimators.append(('cart', model2))

model3 = SVC()
estimators.append(('svm', model3))

# model4 = MultinomialNB()
# estimators.append(('nb', model4))

# cria o ensemble
ensemble = VotingClassifier(estimators)
ensemble.fit(trainFeatures, trainTargets)
results = model_selection.cross_val_score(ensemble, trainFeatures, trainTargets, cv=kfold)
print('Acurácia do Treinamento: {0:0.2f}'.format(results.mean()))
end = time.clock()
trainning_time_ensemble = end-start

/home/alexander/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/alexander/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/alexander/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/alexander/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/alexander/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/alexander/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

Acurácia do Treinamento: 0.62

/home/alexander/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/alexander/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/alexander/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/home/alexander/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

# Tentativa 1: Realizar a classificação

In [504]:
testValues = dataTest.values
testFeatures = testValues[:,0:nColumns-1]
testTargets = testValues[:,nColumns]

#iniciando tempo
start = time.clock()
# realiza a predição sobre a base de teste
predictions = ensemble.predict(testFeatures)
end = time.clock()

metricsLabels.append('Ensemble')
temp = []

# metricas - Ensemble
temp.append(accuracy_score(testTargets, predictions))
temp.append(precision_score(testTargets, predictions))
temp.append(recall_score(testTargets, predictions))
temp.append(trainning_time_ensemble)
temp.append(end-start)
metrics.append(temp)

/home/alexander/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

# Tentativa 2 - Utilizando GaussianNB

In [510]:
from sklearn.naive_bayes import GaussianNB
import time

#iniciando tempo
start = time.clock()

model = GaussianNB()
model.fit(trainFeatures, trainTargets)
results = model_selection.cross_val_score(model, trainFeatures, trainTargets, cv=kfold)
print('Acurácia do Treinamento: {0:0.2f}'.format(results.mean()))
end = time.clock()
trainning_time_gaussian = end-start

Acurácia do Treinamento: 0.58

# Tentativa 2: Realizar a classificação

In [506]:
# testValues = dataTest.values
# testFeatures = testValues[:,0:nColumns-1]
# testTargets = testValues[:,nColumns]

#iniciando tempo
start = time.clock()
# realiza a predição sobre a base de teste
predictions = model.predict(testFeatures)
end = time.clock()

temp = []
metricsLabels.append('GaussianNB')

# realiza o calculo da acuracia - LinearRegression
temp.append(accuracy_score(testTargets, predictions))
temp.append(precision_score(testTargets, predictions))
temp.append(recall_score(testTargets, predictions))
temp.append(trainning_time_gaussian)
temp.append(end-start)
metrics.append(temp)

# Tentativa 3 - Utilizando LogisticRegression

In [507]:
import time

#iniciando tempo
start = time.clock()

model = LogisticRegression()
model.fit(trainFeatures, trainTargets)
results = model_selection.cross_val_score(model, trainFeatures, trainTargets, cv=kfold)
print('Acurácia do Treinamento: {0:0.2f}'.format(results.mean()))
end = time.clock()
trainning_time_logistic = end-start

Acurácia do Treinamento: 0.64

# Tentativa 3: Realizar a classificação

In [508]:
# testValues = dataTest.values
# testFeatures = testValues[:,0:nColumns-1]
# testTargets = testValues[:,nColumns]

#iniciando tempo
start = time.clock()
# realiza a predição sobre a base de teste
predictions = model.predict(testFeatures)
end = time.clock()

temp = []
metricsLabels.append('LogisticRegression')

# realiza o calculo da acuracia - LinearRegression
temp.append(accuracy_score(testTargets, predictions))
temp.append(precision_score(testTargets, predictions))
temp.append(recall_score(testTargets, predictions))
temp.append(trainning_time_logistic)
temp.append(end-start)
metrics.append(temp)

# Avaliação  os resultados da predição

In [509]:
# avalia o resultado 
data = pd.DataFrame(metrics,metricsLabels)
data.columns = ['Acurácia','Precisão','Recall', 'Tempo de Treinamento','Tempo de execucão']
data

,Acurácia,Precisão,Recall,Tempo de Treinamento,Tempo de execucão
Ensemble,0.725,0.704545,0.424658,0.409706,0.009706
GaussianNB,0.575,0.461039,0.972603,0.018890,0.001070
LogisticRegression,0.735,0.647059,0.602740,0.034394,0.000472