# Relatório de Análise

In [2]:
import pandas as pd

In [8]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')

In [31]:
tipo_de_imovel = dados['Tipo']

# Organizando a Visualização

In [47]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel.drop_duplicates())
tipo_de_imovel.index = range(0, tipo_de_imovel.shape[0])
tipo_de_imovel.columns.name = 'ID'
tipo_de_imovel

ID                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria