# Relatório de Análise

## Importando a base de dados

In [ ]:
import pandas as pd

In [32]:
#importando
dados = pd.read_csv("/var/www/html/pos-graduacao/Curso-Pandas/aluguel.csv",sep = ';')
#dados.head(1)

# Metadados sobre o dataframe

In [56]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de dados'])
tipos_de_dados.columns.name = 'Variáveis'

tipos_de_dados

Variáveis Tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [36]:
print("A base de dados possui {} registros de imóveis com {} características".format(dados.shape[0], dados.shape[1]))

A base de dados possui 32960 registros de imóveis com 9 características

In [57]:
data = [['Fulano', 12, 7.0, True],
        ['Sicrano', 15, 3.5, False], 
        ['Beltrano', 18, 9.3, True]]
dados = pd.DataFrame(data, 
    columns = ['Aluno', 'Idade', 'Nota', 'Aprovado'])
dados

      Aluno  Idade  Nota  Aprovado
0    Fulano     12   7.0      True
1   Sicrano     15   3.5     False
2  Beltrano     18   9.3      True